<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ナビゲーションボタン</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<article>
  <div class="side">
    <h1>💻メリステ</h1>
    <a class="active" href="{{ url_for('index') }}">👑プレミア会員</a>
  </div>
    <div class="content">
      <header>
        <nav>
          <a class="active" href="{{ url_for('index') }}">🏠ホーム</a>
          <a class="active" href="{{ url_for('tenki') }}">⛅️天気</a>
          <a class="active" href="{{ url_for('yotei') }}">📒予定管理</a>
          <a class="active" href="{{ url_for('resipi') }}">🥣レシピ作成・管理</a>
        </nav>
      </header>

      <div class="main">
        <section class="hero">
          <div class="brand">
            <span class="brand-icon">👩‍🍳</span>
            <span class="brand-text">メリノーティ スティリクス</span>
            <span class="brand-icon">👩‍🏫</span>
          </div>
          <form class="search-bar" action="#" method="get" onsubmit="return false;">
            <div class="search-input">
              <span class="search-icon">🔍</span>
              <input type="text" placeholder="  検索欄" />
            </div>
            <button type="submit" class="search-button">検索</button>
          </form>
        </section>

        <section class="panel panel-a">
          
        </section>
      </div>
    </div>
</article>
</body>
</html>