<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ナビゲーションボタン</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<article>
  <div class="side">
    <p>サイドバー</p>
  </div>
    <div class="content">
      <header>
        <nav>
          <button class="active"><a href="{{ url_for('index') }}">ホーム</a></button>
          <button class="active"><a href="{{ url_for('tenki') }}">天気</a></button>
          <button class="active"><a href="{{ url_for('yotei') }}">予定管理</a></button>
          <button class="active"><a href="{{ url_for('resipi') }}">レシピ作成・管理</a></button><!-- ← 追加したボタン -->
        </nav>
      </header>
    </div>
</article>
</body>
</html>